<div class="users">
  <div class="pull-right">
    <%= link_to 'Edit', edit_user_path(@user), class: "btn btn-default" %>
    <td><%= link_to 'Destroy', @user, class: "btn btn-default", method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </div>
  <h2><%= @user.email %></h2>

  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>

  <p>
    <strong>Create address:</strong>
    <%= translate_address @user.create_address %>
  </p>

  <p>
    <strong>Return address:</strong>
    <%= translate_address @user.return_address %>
  </p>

  <%= link_to 'All users', users_path, class: "btn btn-default col-md-12" %>
</div>
